/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
    background-image: url('space-background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
}

h1, h2 {
    color: #0056b3;
}

section {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}

.section-title {
    color: #00ffff;
}

/* Home Section */
#home {
    text-align: center;
}
#home img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

/* About Me Section */
#about ul {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    list-style-position: inside;
}

#about ul li {
    margin-bottom: 5px;
}

/* Projects Section */
#projects ul {
    list-style-type: none;
    padding: 0;
}

#projects ul li {
    background: #e7f3ff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

/* Skills Section */
#skills ul {
    list-style-type: none;
    padding: 0;
}

#skills ul li {
    background: #e7f3ff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
}

/* Contact Section */
#contact form {
    display: flex;
    flex-direction: column;
}

#contact label {
    margin-top: 10px;
}

#contact input, #contact textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contact input[type="submit"] {
    background-color: #0056b3;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#contact input[type="submit"]:hover {
    background-color: #004494;
}

/* Animation for section titles */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.section-title {
    animation: fadeIn 1s ease-in-out;
}


  #about p, #projects p, #projects ul, #skills ul {
      background-color: rgba(255, 255, 255, 0.8);
      color: black;
      padding: 10px;
      border-radius: 5px;
      margin-bottom: 10px;
  }

  #projects a, #skills li {
      color: #0000FF;
  }

  #projects a:hover {
      color: #FF00FF;
  }
